<h1>New Artist</h1>


<%= form_with scope: :artist, url: artists_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>