/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * @import ‘bootstrap’;
 *
 */

 @import 'bootstrap';

body {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

p, a, th, td {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

textarea {
    width: 100%;
}

.nav {
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

.content {
    padding: 20px;
}

.btn, input[type="submit"] {
    padding: 5px 10px;
    color: #fff;
    background-color: #4589f7;
    text-decoration: none;
    border: none;
}

form {
    width: 100%;
    padding: 10px 20px;
    box-shadow: 5px 5px #b5b5b5;
    background: #e2e2e2;
}

form label {
    font-size: 24px;
    font-weight: 700;
}

table {
    width: 100%;
}

th {
    font-size: 24px;
}

th, td {
    text-align: left;
}

.header .btn {
    float: right;
}