/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * @import ‘bootstrap’;
 *
 */

 @import 'bootstrap';

body {
    margin: 0px;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

p, a, th, td {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

textarea {
    width: 100%;
}

.nav {
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

.content {
    padding: 20px;
}

.btn, input[type="submit"] {
    padding: 5px 10px;
    color: #fff;
    background-color: #4589f7;
    text-decoration: none;
    border: none;
}

form {
    width: 100%;
    padding: 10px 20px;
    box-shadow: 5px 5px #b5b5b5;
    background: #e2e2e2;
}

form label {
    font-size: 24px;
    font-weight: 700;
}

form.search {
    padding: 0px;
    background-color: inherit;
    box-shadow: none;
    margin-top: 7px;
}

table {
    width: 100%;
}

th {
    font-size: 24px;
}

th, td {
    text-align: left;
}

.header .btn {
    float: right;
}

.notes i {
    float: right;
    color: red;
}   

.search_image {
    height: 100px;
    width: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 60px;
    text-align: center;

    &.artist {
        color:#fff;
        transition: all .1s ease-in-out;
        position: relative;
        background-color: #fff;
        background-size: cover;

        i {
            font-size: 35px;
            color: #fff;
            position: relative;

            &:hover {
                color: #0062cc;
            }
        }

        h2 {
            position: relative;
        }

        &:hover {
            transform: scale(1.1);
            z-index: 1;
        }
    }

    &::before {
        content: "";
        background-color: rgba(25, 25, 25, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.artist_header {
    padding: 150px 50px;
    background-size: cover;

    h1, i {
        color: #fff;
        display: inline;
        position: relative;
    }

    i {
        font-size: 35px;

        &:hover {
            color: #0062cc;
        }
    }

    a:hover {
        text-decoration: none;
    }
    
    &::before {
        content: "";
        background-color: rgba(25, 25, 25, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.song_detail {
    h1, h2, p {
        display: inline;
    }
}

.songs_list {
    padding: 30px 0px;
}

.attachment {
    img {
        width: 50%;
        display: block;
        margin: 0px auto;
        border: 1px solid #000;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.all-artist-list {
    margin: 0 auto;
}